<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorWebApp1</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" hidden="hidden">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tst">
                <span class="oi oi-list-rich" aria-hidden="true"></span> tst
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Employees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="paychecks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pay Checks
            </NavLink>
        </li>
    </ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" hidden>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tst">
                <span class="oi oi-list-rich" aria-hidden="true"></span> tst #2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo two
            </NavLink>
        </li>
    </ul>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var mi in MnuItms)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@mi.href">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @mi.text
                </NavLink>
            </li>
        }
    </ul>
</div>


@code {
        string _MnuCtrl;
        [Parameter] public string MnuCtrl {
            get {return _MnuCtrl; }
            set
            {
                if (value == _MnuCtrl)
                {
                    return;
                }
                _MnuCtrl = value;
                switch (_MnuCtrl)
                {
                case "Main":
                    MnuItms = MainMnuItms;
                    break;
                case "Employees":
                    MnuItms = EmployeesMnuItms;
                    break;
                case "Employee":
                    MnuItms = EmployeeMnuItms;
                    break;
                default:
                    break;
            }
        }
    }

    public class MnuItm
    {
        public string href, text;
    }
    List<MnuItm> MnuItms = new List<MnuItm> { new MnuItm{ href = "abc", text = "123" },
         new MnuItm{ href = "def", text = "456" }
    };

    List<MnuItm> MainMnuItms = new List<MnuItm> {
        new MnuItm { href = "Counter", text = "Counter" },
        new MnuItm { href = "fetchdata", text = "fetchdata" },
        new MnuItm { href = "tst", text = "tst" },
        new MnuItm { href = "todo", text = "todo" },
        new MnuItm { href = "employees", text = "Employees" },
        new MnuItm { href = "Paychecks", text = "Paychecks" }
    };
    List<MnuItm> EmployeesMnuItms = new List<MnuItm> { new MnuItm { href = "/", text = "Back" } };
    List<MnuItm> EmployeeMnuItms = new List<MnuItm> { new MnuItm{ href = "/Pay", text = "Pay" },
     new MnuItm{ href = "/EmployeeEdit", text = "Edit" }};



    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
