@page "/employee/{id:int}"
@inject HttpClient Http
@using ClassLibrary2.Models
@using Newtonsoft.Json


<div class="sidebar" style="width:25%; float:left">
    <NavMenu MnuCtrl="Employee" />
</div>

<h1> Employee @(ID == -1 ? "New" : "Edit") </h1>

@if (res == null && ID != -1)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (ID > 0)
    {
        @emp.FirstName @emp.LastName
        @emp.FullName
    }
    else
    {
        <label>New Employee</label>
    }

    <br />
    <input placeholder="First Name" @bind="@emp.FirstName" />
}

@code{
    [Parameter]
    public int ID { get; set; }
    string res;
    Emp emp;

    protected override async Task OnInitializedAsync()
    {
        if (ID == -1)
        {
            return;
        }

        try
        {
            Console.WriteLine("before");
            res = await Http.GetStringAsync($"https://localhost:44315/api/emps/{ID}");
            Console.WriteLine(res);
            emp = JsonConvert.DeserializeObject<List<Emp>>(res)[0];
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
        System.Diagnostics.Debug.WriteLine("after: debug test");
    }

}