@page "/employees"
@inject HttpClient Http
@using Newtonsoft.Json

<h1>Employees</h1>

@if (res == null)
{
    <p><em>Loading...</em></p>
}
else
{


    @*
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    *@
    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in emps)
            {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td hidden="hidden">@emp.Id</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    class emp
    {
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    List<emp> emps;

    WeatherForecast[] forecasts;
    string res;

    protected override async Task OnInitAsync()
    {
        //        res = "test";
        System.Diagnostics.Debug.WriteLine("before: debug test");
        Console.WriteLine("before ***********");
        //CORS err: res = await Http.GetStringAsync("https://www.nytimes.com/");

        try
        {
            res = await Http.GetStringAsync("https://localhost:44315/api/emps");
            emps = JsonConvert.DeserializeObject<List<emp>>(res);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
        System.Diagnostics.Debug.WriteLine("after: debug test");
        Console.WriteLine(string.Join("\n", emps));
        //        Console.WriteLine(res);
        //StateHasChanged();
        //forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public int TemperatureF { get; set; }

        public string Summary { get; set; }
    }
}
